manifest {
    description = 'Auir: An influenza analysis pipeline.'
}

env {
    TRIMMOMATIC='/opt/trimmomatic/Trimmomatic-0.36'
}

docker {
    enabled = true
    fixOwnership = true
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_R{1,2}_001.fastq"

    /* Location of reference genome index files */
    index = ""

    /* Location of reference genome */
    reference = ""

    /* Location of adapter sequences */
    adapters = "data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "data/adapters/nextera.tab"

    /* Output directory */
    output = "./test"

    /* Number of threads */
    threads = 16

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36
}

process {
    $Bedtools {
        container = "cdeanj/bedtools2:1.0"
        maxForks = 4
    }
    $Blastn {
        container = "cdeanj/blastn:1.0"
        maxForks = 4
    }
    $BWA {
        container = "cdeanj/bwa:1.0"
        maxForks = 4
    }
    $FastQC {
        container = "cdeanj/fastqc:1.0"
        maxForks = 4
    }
    $MultiQC {
        container = "cdeanj/multiqc:1.0"
        maxForks = 4
    }
    $SAMToBAM {
        container = "cdeanj/samtools:1.0"
        maxForks = 4
    }
    $SPAdes {
        container = "cdeanj/spades:1.0"
        maxForks = 4
    }
    $Trimmomatic {
        container = "cdeanj/trimmomatic:1.0"
        maxForks = 4
    }
    $QUAST {
        container = "cdeanj/quast:1.0"
        maxForks = 4
    }
}
