manifest {
    description = 'AI (Avian Influenza) Pipeline'
}

env {
    TRIMMOMATIC='/opt/trimmomatic/Trimmomatic-0.36'
}

docker {
    enabled = true
    fixOwnership = true
}

params {
    reads = "data/raw/*_R{1,2}_001.fastq"
    adapters = "data/adapters/nextera.fa"
    output = "./test"
    threads = 16
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36
}

process {
    $Trimmomatic {
        container = "cdeanj/trimmomatic:1.0"
    }
    $BWA {
        container = "cdeanj/bwa:1.0"
    }
    $SPAdes {
        container = "cdeanj/spades:1.0"
    }
    $MultiQC {
        container = "cdeanj/multiqc:1.0"
    }
}
